:root {
    --unnamed-color-43afff: #43AFFF;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-303f60: #303F60;
}


.App{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 450px;
    background: transparent linear-gradient(248deg, var(--unnamed-color-303f60) 0%, #1A253C 100%) 0% 0% no-repeat padding-box !important;
    background: transparent linear-gradient(248deg, #303F60 0%, #1A253C 100%) 0% 0% no-repeat padding-box !important;
    opacity: 1;
    z-index: -1;
  }
  
