*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: blue; */
}

:root {
    /* Colors: */
    --unnamed-color-43afff: #43AFFF;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-303f60: #303F60;
}




